.DS_Store
log/*
tmp/sessions/*
tmp/sockets/*
tmp/pids/*
tmp/cache/*
config/database.yml
config/schema.rb
.*.swp
*.orig
public/photo_data/*
private/*
*.tmproj
*.pid
.DS_Store
public/.DS_Store
public/uploads/*
public/media/*
doc/
*~
test/
public/system/*
coverage/*
coverage.data